.hero {
  background-image: url("https://www.shutterstock.com/image-vector/paper-art-shopping-online-on-260nw-2074005938.jpg");
  background-size: cover;
  background-position: center;
  height: 400px; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff; /* Text color */
}

.hero-content {
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #007bff; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero button:hover {
  background-color: #0056b3; /* Button background color on hover */
}
